.about h1 {
    margin-left: 35%;
}

h2 {
    display: flex;
    margin-left: 30%;
}

.profilePic {
    height: 300px;
    border-radius: 10rem;
    padding: 2% 0;
    margin-left: 30%;
}

p {
    margin: 5px 40% 5px 30%;
}
