.navBar {
    display: flex;
    justify-content: space-evenly;
    border-bottom: black solid 1px;
    padding: 3% 0;
    background-color: aqua;
}

.name {
    display: flex;
    margin-right: 60%;
}

footer {
    display: flex;
    border-top: 1px solid black;
    justify-content: center;
    padding: 3%;
}

